body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
    
}

.background{
    background: linear-gradient(to bottom right, #5d509d, #30b29b);
    background-repeat: repeat-x;
    color: white;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

#menu {
    width: 960px;
    height: 40px;
    clear: both;
  }
   
  ul#nav {
    float: left;
    width: 960px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #0e222d ;
     
  }
   
  ul#nav li {
    display: inline;
  }
   
  ul#nav li a {
    float: left;
    font: bold 1.1em arial,verdana,tahoma,sans-serif;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 0 30px;
    background: #0e222d;    
  }
   
  
  ul#nav .current a, ul#nav li:hover > a  {
    color: #fff;
    text-decoration: none;
    background: hsla(295, 64%, 56%, 1);
    
  }
   
  
  ul#nav  ul {
    display: none;
  }
   
  ul#nav li:hover > ul {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 920px;
    height: 45px;
    position: absolute;
    margin: 40px 0 0 0;
    background: #28135A;
  }
   
  ul#nav li:hover > ul li a {
    float: left;
    font: bold 0.8em arial,verdana,tahoma,sans-serif;
    line-height: 45px;
    color: #fff;
    text-decoration: none;
    margin:0;
    padding: 0 30px 0 30px;
    background: #28135A;
     
  }
   
  ul#nav li:hover > ul li a:hover {
    color: white;
    text-decoration: none;
    text-shadow: none;
    background: hsla(295, 64%, 56%, 1);
  }
  
/*buttons*/
  .buttonlist {
      display: inline-block;
      margin-right: 20px;
  }
.buttontickets {
    background-color: white;
    border: none;
    color: hsla(295, 64%, 56%, 1) ;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;

}

.buttontickets:hover {
    background-color: #28135A;
    
}
.buttonother {
    background-color: #28135A;
    border: none;
    color: white ;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    
}
.buttonother:hover{
    background-color: #5d509d;
}

.buttonfooter {
    font-family: 'Slabo 27px';
    background-color: #28135A;
    border: none;
    color: white ;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

/*kleuren*/
.kleur {
    border: none;
    color: white ;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
}
#one {
    background-color: hsla(295, 64%, 56%, 1);
}
#two {
    background-color: #5d509d;
}
#three {
    background-color: #30b29b;
}
#four {
    background-color:#282355;
}
#five {
    background-color:#fff;
    color: black;
}
#six {
    background-color:#1159a6;
}
#seven {
    background-color:#0e222d;
}

/* Voeg jouw css hieraan toe */